**My Submission**

**INTRODUCTION**

**DATA SCICENCE LANGUAGES**
- PYTHON
- R
- JULIA
- SCALA
- JAVA
- C/C++
- MATLAB
- SQL

**DATA SCIENCE LIBRARIES**
- NUMPY
- PANDAS
- MATPOTLIB
- SCIKIT-LEARN
- PYTORCH
- KERAS
- SAS ENTERPRISE MINER
- FLUX
- TIDYR
- FORECAST
- CARET 
- GGPLOT2
- DPLYR

|DATA SCIENCE TOOL|
|-----------------|
|PYTHON           |
|R                |
|JUPYTER          |
|SQL              |
|APACHE SPARK     |
|SAS              |
|EXCEL            |
|TABLEAU          |

**ARITHMETIC EXPRESSONS**

    2+2
 
    3-1=
    
    2*3=
    
    4/2=

In [1]:
2+2

2*3

6

In [4]:
minutes = 120

hours = minutes / 60

print("Hours:", hours)

Hours: 2.0

**JERRY ROYCE**